@tailwind base;
@tailwind components;
@tailwind utilities;




@media (min-width: 768) and (max-width: 1024px) {
    .sectionhead{
      display: flex;
      justify-content: center;
      margin-right: 300px;
    }
    .sectionheading2txt1{
      font-size: 20px;
    }
  
  }